
body{   
    background-image: url('../imagens/wallpaper003.jpg');
    background-position: top, top;
    background-size: 40vw;
    height: 40vw;
    border: 1px solid black;
    background-repeat: no-repeat;
}
html{
    height: 40vw;
    width: 30vw;
}
div{
    background-image: linear-gradient(blue, cyan, red);
    height: 20vw;
    background-image: url('../imagens/wallpaper001.jpg');
}